@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes mistFloat {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(40px, -30px) scale(1.05);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes slowPan {
  0% {
    transform: scale(1.1) translateX(0);
  }
  100% {
    transform: scale(1.15) translateX(-40px);
  }
}

.animate-mist {
  animation: mistFloat 22s ease-in-out infinite;
}

.animate-mist-slow {
  animation: mistFloat 32s ease-in-out infinite;
}

.animate-bg-pan {
  animation: slowPan 40s linear infinite alternate;
}
